* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-size: 2px;

  --dark-blue: #083c5d;
  --dark: #1d2731;
  --sunny: #ffbb39;

  --space-s: 12px;
  --space-l: 36px;

  --size-s: 12px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-s);
}

