* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-size: 2px;

  --dark-blue: #083c5d;
  --dark: #1d2731;
  --sunny: #ffbb39;

  --space-s: 12px;
  --space-l: 36px;

  --size-s: 12px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-s);
}

.workspace {
  position: relative;
  padding: var(--space-s);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: var(--border-size) solid var(--dark-blue);
}

.point {
  position: absolute;
  width: var(--size-s);
  height: var(--size-s);
  background-color: var(--dark);
  border-radius: 50%;
}

#a {
  top: var(--space-l);
  left: 50%;
  transform: translateX(-50%);
}

#b {
  bottom: var(--space-l);
  right: var(--space-l);
}

#c {
  bottom: var(--space-l);
  left: var(--space-l);
}

#start-point {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


